@import url(http://weloveiconfonts.com/api/?family=entypo);

*{
    /*
    Réinitialise les marges imposées par le navigateur
    * permet de cibler toutes les balises
    */
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;

}

.icon-titre{
    font-size: 60px;
}

p, li{
    color: #424242;
}

h1,h2, p, a, li, strong, address, span{
    font-family: 'Raleway', sans-serif;
}

h2 {
    position: relative;
    background-color: #BA2204;
    padding: 30px;
    color: white;
    text-transform: uppercase;
    margin-bottom: 30px;
}
h2:before{
    content: "";
    font-family: 'Great Vibes', cursive;
    font-size: 30px;
    display: block;
    width: 95%;
    top: -11%;
    height: 10px;
    background-image: -webkit-linear-gradient(315deg, transparent 10px, rgba(186, 34, 4, 1) 10px), -webkit-linear-gradient(225deg, transparent 10px, rgba(186, 34, 4, 1) 10px);
    background-image: linear-gradient(135deg, transparent 10px, rgba(186, 34, 4, 1) 10px), linear-gradient(-135deg, transparent 10px, rgba(186, 34, 4, 1) 10px);
    background-size: 10px 10px;
    background-repeat: repeat-x;
    background-position: 50% 50%;
    position: absolute;
}



img {
    max-width: 100%; /* l'image ne sortira jamais du container (largeur maximale)*/
}

.col img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.text-center{
    text-align: center;
}

.font-blue{color: #1976D2;}
.font-red{color: #D50000;}
.font-orange{color: orange;}
.font-grey{color: #EEEEEE;}
.font-blanc{color: white;}

.green{background: green;}
.red{background: red;}
.blue{background: blue;}
.orange{background: orange;}
.grey{background: #EEEEEE;}
.blanc{background: white}

.conteneur-colonnes{
    display: block ;
    overflow: hidden;
}

nav {
    background: white;
    border-bottom: solid 1px #E0E0E0;
}


.parallaxe1 {
    position: relative;
    width: 100%;
    min-height: 280px;
    height: auto;
    background-color: transparent;
    background-image: url(img/plat.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.font-kaushan {
    font-family: 'Kaushan Script', cursive;
}

nav ul{
    list-style-type: none;
    text-align: center;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: #BA2204;
    font-weight: bold;
    padding : 3px 30px 0px 30px;
}


nav li a:hover {
    padding-top: 0px;
    border-top: 3px solid rgba(247, 183, 20, 1);
}

.container, footer{
    padding-bottom: 30px;
}

section{
    width: 90%;
    max-width: calc(1116px - 10%);
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    margin-top: 30px;
}

.col{
    float: left;
    padding: 1%;
    margin-left: 2%;
}

.quatre .col{
    width: 21.5%;
}

.trois .col{
    width: 30%;
}

.deux .col{
    width: 47%;
}

section .col:first-child{
    margin-left: 0;
}


.center {
    text-align: center;
}

.souligne{
    margin: 20px auto;
    border: 1.5px solid #e88183;
    width: 50px;
}

.btn{
    display: block;
    text-decoration: none;
    color:firebrick;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 30px;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 8px;
    border: 1px solid;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}


.btn:hover {
    background: firebrick;
    color: #fff;
    border-color: firebrick;
}

.image-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.image-description {
    height: 50px;
    background: #263238;
    display: flex;
    justify-content: center;
    align-items: center;
}

.map-container {
    width: 100%;
}

.map-container iframe{
    width: 100%;
    pointer-events:none; /* Pas de zoom au scroll sur la map */
}

footer {
    background-color: #BA2204;
}

.copyright {
    font-size: .7em;
    color: #fff;
}

input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #bebebe;
    height: 2em;
    font-size: 2em;
    padding: 0.5em 0;
    display: block;
}


input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    width: 100%;
    border: none;
    border-bottom: solid 1px #bebebe;
    padding-top: 0.5em;
    resize: none;
}

textarea:focus, input:focus{
    outline: none;
}

button {
    background :transparent;
}


.list-lang {
    padding: 0;
}

.list-item {
    display: inline-block;
    margin: 2px;
}

.list-item img{
    height : 70px;
}


@media(max-width: 600px){
    .col{
        margin-top: 30px;
    }

    .trois .col, .deux .col, .deux .col:first-child{
        margin-left: 2%;
        width: 94%;
    }

}

@media(max-width: 450px){
    header .header-caption h2 {
        font-size: 45px;
    }
    .quatre .col, .quatre .col:first-child{
        width: 94%;
    }

}








/*********************************/
/******* template 2********/

#menu-logo-slogan-adresse {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
}

#menu-logo-slogan-adresse #slogan,
#menu-logo-slogan-adresse #logo,
#menu-logo-slogan-adresse #adresse{

}

#menu-logo-slogan-adresse #slogan{
    margin-right: 100px;
}

#menu-logo-slogan-adresse #logo img{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#menu-logo-slogan-adresse #logo{
    margin: 0 auto;
}

#menu-logo-slogan-adresse #adresse{
    margin-left: 100px;
}

#menu-logo-slogan-adresse #slogan,
#menu-logo-slogan-adresse #adresse{
    padding: 1rem 0;
    border-bottom: 1px solid rgba(247, 183, 20, 1);
    border-top: 1px solid rgba(247, 183, 20, 1);
    width: 350px;
    text-align: center;
    color: #BA2204;
    font-weight: bold;
}

.home-menu-block {
    display: flex;
    text-align: center;
    color: #BA2204;
    margin-top: 0px;
}

.home-menu-block .col{
    margin: 0px;
    padding: 0px;
}

.home-menu-block img {
    width:100%;
    height:auto;
    max-height:100%;
    min-height: 100%;
}

.home-menu-block .menu-name {
    font-size: 2em;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
}

.home-menu-block .menu-price-before {
    font-size: 1.3em;
    margin-bottom: 15px;
    display: block;
    position: relative;
    z-index: 1;
}

.home-menu-block .menu-price-before:before,
.home-menu-block .menu-price-before:after {
    content: '';
    display: inline-block;
    height: 2px;
    background: #BA2204;
    width: 10%;
    position: relative;
    vertical-align: middle;
    margin: 15px;
}

.home-menu-block .menu-price {
    font-size: 2em;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    font-style: italic;
}

.home-menu-block p {
    padding: 15px;
}

.text-hover-img-block {
    position: relative;
}

.text-hover {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 2em;
}