@import url(http://weloveiconfonts.com/api/?family=entypo);

*{
    /*
    Réinitialise les marges imposées par le navigateur
    * permet de cibler toutes les balises
    */
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;

}

.icon-titre{
    font-size: 60px;
}

p, li{
    color: #424242;
}

h1, p, a, li, strong, address, span{
    font-family: 'Raleway', sans-serif;
}

h2{
    font-family: 'Great Vibes', cursive;
    font-size:30px;
}

.carte-menu-block .menu-carte-before{
    font-family: 'Great Vibes', cursive;
}

.carte-menu-block .menu-carte-before {
    font-size: 1.3em;
    margin-bottom: 15px;
    display: block;
    position: relative;
    z-index: 1;
    text-align: center;

}

.carte-menu-block .menu-carte-before:before,
.carte-menu-block .menu-carte-before:after {
    content: '';
    display: inline-block;
    height: 2px;
    background: #000;
    width: 10%;
    position: relative;
    vertical-align: middle;
    margin: 10px;

}

.carte-menu-block img {
    width: 260px;
    height: 200px;
    object-fit: cover;
}

.carte-menu-block {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.carte-menu-block .menu-container{
    text-align: center;
}

.nom-plat {
    font-weight: bold;
}

.description {
    text-align: left;
}

.description-content {
    display: block;
    padding: 10px 0px 45px 0px;
}

.carte-price-menu {
    color:#BA2204;
    font-size: 2em;
    margin-bottom: 15px;
    margin-top: 15px;
    display: block;
    font-style: italic;
}


img {
    max-width: 100%; /* l'image ne sortira jamais du container (largeur maximale)*/
}

.col img {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    margin-left: auto;
    margin-right: auto;
    display: block;

}

.text-center{
    text-align: center;
}

.font-blue{color: #1976D2;}
.font-red{color: #D50000;}
.font-orange{color: orange;}
.font-grey{color: #EEEEEE;}
.font-blanc{color: white;}

.green{background: green;}
.red{background: red;}
.blue{background: blue;}
.orange{background: orange;}
.grey{background: #EEEEEE;}
.blanc{background: white}

.conteneur-colonnes{
    display: block ;
    overflow: hidden;
}

.logo{
    display: block;
    overflow: hidden;
    float: left;
    max-width:40px;
    padding-left: 2%;
    padding-top: 5px;
}

nav {
    background: white;
    border-bottom: solid 1px #E0E0E0;
}

header{
    position: relative;
    width: 100%;
    min-height: 680px;
    height: auto;
    background-color: transparent;
    background-image: url(/img/Template1/sallerestaurant.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header#menu-presentation-header{
    position: relative;
    width: 100%;
    min-height: 240px;
    height: auto;
    background-color: transparent;
    background-image: url(/img/Template1/sallerestaurant.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header#menu-presentation-header .header-caption {
    padding: 90px 30px 0;
    text-transform: uppercase;
}


header .header-caption {
    position: relative;
    z-index: 2;
    padding: 200px 30px 0;
    text-align: center;
    color: #fff;
}


header .header-caption h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 80px;
    line-height: 98px;
    font-weight: 700;
}


header .header-caption p {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    padding-left: 26%;
    padding-right: 26%;
    color: #fff;
}

.parallaxe1 {
    position: relative;
    width: 100%;
    min-height: 280px;
    height: auto;
    background-color: transparent;
    background-image: url(/img/Template1/plat.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.font-kaushan {
    font-family: 'Kaushan Script', cursive;
}

nav ul{
    list-style-type: none;
    float:right;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: black;
    padding : 0 30px;
}


nav li a:hover {
    color: #BDBDBD;
}

.container, footer{
    padding-top: 30px;
    padding-bottom: 30px;
}

section{
    width: 90%;
    max-width: calc(1116px - 10%);
    margin-left: auto;
    margin-right: auto;
    display: block;
    overflow: hidden;
    padding-top: 30px;
}

.col{
    float: left;
    padding: 1%;
    margin-left: 2%;
}

.quatre .col{
    width: 21.5%;
}

.trois .col{
    width: 30%;
}

.deux .col{
    width: 47%;
}

section .col:first-child{
    margin-left: 0;
}


.center {
    text-align: center;
    margin: 0 auto;
}

.justify {
    text-align: justify;
    margin: 0 auto;
}

.souligne{
    margin: 20px auto;
    border: 1.5px solid #e88183;
    width: 50px;
}

.btn{
    display: block;
    text-decoration: none;
    color:firebrick;
    margin-top: 20px;
    text-align: center;
    line-height: 30px;
    width: 100%;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    padding: 8px;
    border: 1px solid;
    text-decoration: none;
    transition: 0.5s ease-in-out;
}


.btn:hover {
    background: firebrick;
    color: #fff;
    border-color: firebrick;
}

.image-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.image-description {
    height: 50px;
    background: #263238;
    display: flex;
    justify-content: center;
    align-items: center;
}

address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}

address a {
    color: #ef4034;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}

.map-container {
    width: 100%;
}

.map-container iframe{
    width: 100%;
    pointer-events:none; /* Pas de zoom au scroll sur la map */
}

footer {
    background-color: #333;
}

.copyright {
    font-size: .7em;
    color: #fff;
}

input {
    width: 100%;
    border: none;
    border-bottom: solid 1px #bebebe;
    height: 2em;
    font-size: 2em;
    padding: 0.5em 0;
    display: block;
}


input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

textarea {
    width: 100%;
    border: none;
    border-bottom: solid 1px #bebebe;
    padding-top: 0.5em;
    resize: none;
}

textarea:focus, input:focus{
    outline: none;
}

button {
    background :transparent;
}


.list-lang {
    padding: 0;
}

.list-item {
    display: inline-block;
    margin: 2px;
}

.list-item img{
    height : 70px;
}


@media(max-width: 600px){
    .col{
        margin-top: 30px;
    }

    .trois .col, .deux .col, .deux .col:first-child{
        margin-left: 2%;
        width: 94%;
    }

}

@media(max-width: 450px){
    header .header-caption h2 {
        font-size: 45px;
    }
    .quatre .col, .quatre .col:first-child{
        width: 94%;
    }

}

.nos_meilleurs_plats img{
    width: 260px;
    height: 200px;
    object-fit: cover;
}

.nos_meilleurs_plats {
    text-align: center;
}

